.product-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: 90px;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-title {
  font-size: 0.875rem;
  color: var(--green-700);
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.info-price {
  font-size: 0.75rem;
  color: var(--gray-500);
  font-weight: normal;
}
