<div class="container" *ngIf="product">
  <app-header
    [scrolled]="scrollY > 10"
    [imageUrl]="product.imageUrl"
  ></app-header>

  <div class="content">
    <app-product-info
      [title]="product.name"
      [description]="product.description"
      [price]="product.price"
    ></app-product-info>

    <app-restaurant-card
      [id]="restaurant.id"
      [imageUrl]="restaurant.imageLogoUrl"
      [name]="restaurant.name"
      [description]="restaurant.description"
    ></app-restaurant-card>
  </div>
</div>

