<div class="container" *ngIf="product">
  <app-header
    [scrolled]="scrollY > 10"
    [imageUrl]="product.imageUrl"
  ></app-header>

  <div class="content">
    <app-product-info
      [title]="product.name"
      [description]="product.description"
      [price]="product.price"
    ></app-product-info>

    <app-restaurant-info
      [id]="restaurant.id"
      [imageUrl]="restaurant.imageLogoUrl"
      [name]="restaurant.name"
      [description]="restaurant.description"
    ></app-restaurant-info>

    <div class="content-suggestions">
      <h3>{{ 'PRODUCT.FOLLOW_UP_SUGGESTION' | translate }}</h3>
      <div class="cards-wrapper">
        @for (item of listSuggestions; track item) {
          <app-product-card-vertical
            [id]="item.id"
            [imageUrl]="item.imageUrl"
            [title]="item.title"
            [price]="item.currentPrice"
          ></app-product-card-vertical>
        }
      </div>
    </div>
  </div>
</div>

