<swiper-container loop="true" pagination="true" >
  <swiper-slide class="slide-item">
    <div [style.background-image]="`url(img/cardapio-especial.png)`"></div>
  </swiper-slide>
  <swiper-slide class="slide-item">
    <div [style.background-image]="`url(img/cardapio-especial.png)`"></div>
  </swiper-slide>
  <swiper-slide class="slide-item">
    <div [style.background-image]="`url(img/cardapio-especial.png)`"></div>
  </swiper-slide>
  <swiper-slide class="slide-item">
    <div [style.background-image]="`url(img/cardapio-especial.png)`"></div>
  </swiper-slide>
  <swiper-slide class="slide-item">
    <div [style.background-image]="`url(img/cardapio-especial.png)`"></div>
  </swiper-slide>
  <swiper-slide class="slide-item">
    <div [style.background-image]="`url(img/cardapio-especial.png)`"></div>
  </swiper-slide>
</swiper-container>
