<div class="container">
  <swiper-container loop="true" pagination="true" autoPlay="true">
    <swiper-slide class="slide-item" [style.background-image]="`url(img/cardapio-especial.png)`"></swiper-slide>
    <swiper-slide class="slide-item" [style.background-image]="`url(img/cardapio-especial.png)`"></swiper-slide>
    <swiper-slide class="slide-item" [style.background-image]="`url(img/cardapio-especial.png)`"></swiper-slide>
    <swiper-slide class="slide-item" [style.background-image]="`url(img/cardapio-especial.png)`"></swiper-slide>
    <swiper-slide class="slide-item" [style.background-image]="`url(img/cardapio-especial.png)`"></swiper-slide>
    <swiper-slide class="slide-item" [style.background-image]="`url(img/cardapio-especial.png)`"></swiper-slide>
  </swiper-container>
</div>
