.header-container {
  top: 0;
  position: sticky;
  height: 250px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.25rem; /* 20px */
  transition: all .5s;
  overflow: hidden;

}

.header-container.scrolled {
  z-index: 10;
  height: 50px;
  background-image: none !important;
}
